*{
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 5em;
	font-family: serif;
	color: #14130f;
	text-align: center;
	animation: animate
		3.0s linear infinite;
}



@keyframes animate {
	0% {
		opacity: 0;
	}

	25%{
		opacity: 0.7;
	}

	50% {
		opacity: 1.0;
	}

	75%{
		opacity: 0.7;
	}

	100% {
		opacity: 0;
	}
}

    .logo {
		margin-top: -90px;
	}

    .perfil {
		position: absolute;
		left: 84%;
		margin-top: -305px;

    }

	.planodefundo {
		display: block;
		position:fixed;
		height:auto;
		right:0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		background-color: aliceblue;

	}

	.cabeca {
		display: block;
		position:fixed;
		height: 100px;
		bottom:0;
		top:0%;
		left:0;
		right:0;
		background-color: rgb(231, 230, 227);
	}

    .meio{
		display: block;
		position:fixed;
		height: 60px;
		bottom:0;
		top:40%;
		left:0;
		right:0;
		background-color: rgb(231, 230, 227)
    }

	.inserirTitulo {
		font-style: italic;
		font-size: 8px;
		position:absolute;
		margin: 0;
		top: -25%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%,50%)
    }



