main {
    background-color: rgba(173, 173, 173, 0.664);
}

.servicos {
    margin: 0 auto;
    position: relative;
    background-color: rgb(38, 40, 39);
    width: 60%;
    height: 1080px;
    box-shadow: 5px 50px 50px 10px rgba(53, 53, 53, 0.863);
    border-left: 1px solid rgba(255, 255, 255, 0.514);
    border-right: 1px solid rgba(255, 255, 255, 0.514); ;

}

.titulo {
    font-size: 45px;
}

body {
    color: white;
    font-family: calibri;
}

strong {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.titulo-montar {
    text-align: center;
    background-color: grey;
    padding: 2%;
    font-size: 32px;
    font-weight: bold;
    height: 2.5%;
}


@media screen and (max-width:480px) {

    .caixa,
    .banner {
        width: auto;
    }

    .logo,
    header {
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .titulo-secundario {
        font-size: 1.5em;
    }

    header {
        width: 256%;
        height: 100%;
    }

    .header-ancora {
        display: flex;
        justify-content: center;
    }

    .montar {
        width: 256%;
    }

    footer {
        width: 256%;

    }

    .ancor-menu {
        font-size: 32px;
    }

    .tamanho-logo {
        margin-left: 0;
        margin-bottom: 20px;
    }

}