*{
	margin: 0;
	padding: 0;

}
.nome {
	font-style: italic;
	font-size: 100px;
	position:absolute;
	margin: 0;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,50%)
}

.caixa{
	height: 1920px;
	width: 1080px;
	color: solid rgb(0, 0, 0);
	


}

.telafundo {
	width: 1920px;
	height: 1080px;
	background-color: orangered;
	position:absolute;
	
    
  }
 
  
